<header class="bloghead">
    <dev class="authorheader">
        <a href="/">
            <img alt="0xBU Banner" src="/assets/img/0xbu-banner.png"/>
        </a>
        <dev class="blogtitle">
            <h1><a href="/">{{ site.data.blog.title }}</a></h1>
            <h5> {{ site.data.blog.description }} </h5>
        </dev>
    </dev>

    <nav class="menu" role="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/blog">Blog</a></li>
            <li>|</li>
            <li><a href="/writeups">Writeups</a></li>
            <li>|</li>
            <li><a href="/team">Team</a></li>
            <li>|</li>
            <li><a href="/resources">Resources</a></li>
            <li>|</li>
            <li><a href="/scarlet-alert">Scarlet Alert</a></li>
        </ul>
    </nav>
</header>
