<!DOCTYPE html>
<html>
    {% include site_head.html %}
    <body>
        {% include blog_header.html %}
        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ page.title }}</h1>
                <p class="article-time">
                    {{ page.time }}<span>{{ page.location }}</span>
                </p>
            </header>
            {{ content }}
            {% include post_footer.html %}
        </main>
        {% include site_footer.html %}
    </body>
</html>
